
Original/xampp/.version
Original/xampp/.modell-usb
Original/xampp/.modell
Original/index.php
Original/img/module_table_top.png
Original/img/module_table_bottom.png
Original/favicon.ico
Original/dashboard/zh_tw/index.html
Original/dashboard/zh_tw/howto_shared_links.html
Original/dashboard/zh_tw/howto_platform_links.html
Original/dashboard/zh_tw/howto.html
Original/dashboard/zh_tw/faq.html
Original/dashboard/zh_cn/index.html
Original/dashboard/zh_cn/howto_shared_links.html
Original/dashboard/zh_cn/howto_platform_links.html
Original/dashboard/zh_cn/howto.html
Original/dashboard/zh_cn/faq.html
Original/dashboard/ur/index.html
Original/dashboard/ur/howto_shared_links.html
Original/dashboard/ur/howto_platform_links.html
Original/dashboard/ur/howto.html
Original/dashboard/ur/faq.html
Original/dashboard/tr/index.html
Original/dashboard/tr/howto_shared_links.html
Original/dashboard/tr/howto_platform_links.html
Original/dashboard/tr/howto.html
Original/dashboard/tr/faq.html
Original/dashboard/stylesheets/normalize.css
Original/dashboard/stylesheets/asciidoctor.css
Original/dashboard/stylesheets/all.css
Original/dashboard/stylesheets/all-rtl.css
Original/dashboard/ru/index.html
Original/dashboard/ru/howto_shared_links.html
Original/dashboard/ru/howto_platform_links.html
Original/dashboard/ru/howto.html
Original/dashboard/ru/faq.html
Original/dashboard/ro/index.html
Original/dashboard/ro/howto_shared_links.html
Original/dashboard/ro/howto_platform_links.html
Original/dashboard/ro/howto.html
Original/dashboard/ro/faq.html
Original/dashboard/pt_br/index.html
Original/dashboard/pt_br/howto_shared_links.html
Original/dashboard/pt_br/howto_platform_links.html
Original/dashboard/pt_br/howto.html
Original/dashboard/pt_br/faq.html
Original/dashboard/pl/index.html
Original/dashboard/pl/howto_shared_links.html
Original/dashboard/pl/howto_platform_links.html
Original/dashboard/pl/howto.html
Original/dashboard/pl/faq.html
Original/dashboard/phpinfo.php
Original/dashboard/jp/index.html
Original/dashboard/jp/howto_shared_links.html
Original/dashboard/jp/howto_platform_links.html
Original/dashboard/jp/howto.html
Original/dashboard/jp/faq.html
Original/dashboard/javascripts/modernizr.js
Original/dashboard/javascripts/all.js
Original/dashboard/it/index.html
Original/dashboard/it/howto_shared_links.html
Original/dashboard/it/howto_platform_links.html
Original/dashboard/it/howto.html
Original/dashboard/it/faq.html
Original/dashboard/index.html
Original/dashboard/images/xampp-newsletter-logo.png
Original/dashboard/images/xampp-logo.svg
Original/dashboard/images/xampp-cloud@2x.png
Original/dashboard/images/xampp-cloud.png
Original/dashboard/images/windows-logo.png
Original/dashboard/images/twitter-bird.png
Original/dashboard/images/team/paul-hinz.jpg
Original/dashboard/images/team/kay-vogelgesang.jpg
Original/dashboard/images/team/kai-seidler.jpg
Original/dashboard/images/team/daniel-lopez.png
Original/dashboard/images/team/beltran-rueda.png
Original/dashboard/images/stamps/stamp-88x31.gif
Original/dashboard/images/stamps/stamp-80x15.gif
Original/dashboard/images/stamps/stamp-173x38.gif
Original/dashboard/images/stack-icons@2x.png
Original/dashboard/images/stack-icons.png
Original/dashboard/images/sourceforge-logo@2x.png
Original/dashboard/images/sourceforge-logo.png
Original/dashboard/images/social-icons@2x.png
Original/dashboard/images/social-icons.png
Original/dashboard/images/social-icons-large@2x.png
Original/dashboard/images/social-icons-large.png
Original/dashboard/images/screenshots/xampp-windows-start.jpg
Original/dashboard/images/screenshots/xampp-macosx-wordpress.jpg
Original/dashboard/images/screenshots/xampp-macosx-start.jpg
Original/dashboard/images/screenshots/xampp-macosx-stack-manager.jpg
Original/dashboard/images/screenshots/xampp-macosx-stack-manager-volumes.jpg
Original/dashboard/images/screenshots/xampp-macosx-stack-manager-services.jpg
Original/dashboard/images/screenshots/xampp-macosx-stack-manager-network.jpg
Original/dashboard/images/screenshots/xampp-macosx-stack-manager-general.jpg
Original/dashboard/images/screenshots/xampp-macosx-run-installer.jpg
Original/dashboard/images/screenshots/xampp-macosx-launch-credentials.jpg
Original/dashboard/images/screenshots/xampp-macosx-download-installer.jpg
Original/dashboard/images/screenshots/xampp-linux-start.jpg
Original/dashboard/images/pdf-icon.png
Original/dashboard/images/middleman.png
Original/dashboard/images/linux-logo.png
Original/dashboard/images/flags/zh_tw.png
Original/dashboard/images/flags/zh_cn.png
Original/dashboard/images/flags/ur.png
Original/dashboard/images/flags/tr.png
Original/dashboard/images/flags/ru.png
Original/dashboard/images/flags/ro.png
Original/dashboard/images/flags/pt_br.png
Original/dashboard/images/flags/pt.png
Original/dashboard/images/flags/pl.png
Original/dashboard/images/flags/jp.png
Original/dashboard/images/flags/it.png
Original/dashboard/images/flags/hu.png
Original/dashboard/images/flags/fr.png
Original/dashboard/images/flags/es.png
Original/dashboard/images/flags/en.png
Original/dashboard/images/flags/de.png
Original/dashboard/images/flags/cn.png
Original/dashboard/images/favicon.png
Original/dashboard/images/fastly-logo@2x.png
Original/dashboard/images/fastly-logo.png
Original/dashboard/images/blog/xampp-vm-volumes.png
Original/dashboard/images/blog/xampp-vm-tray.png
Original/dashboard/images/blog/xampp-vm-php-output.png
Original/dashboard/images/blog/xampp-vm-php-finder.png
Original/dashboard/images/blog/xampp-vm-network.png
Original/dashboard/images/blog/xampp-vm-manager.png
Original/dashboard/images/blog/xampp-vm-general.png
Original/dashboard/images/blog/xampp-vm-cakephp-9.png
Original/dashboard/images/blog/xampp-vm-cakephp-8.png
Original/dashboard/images/blog/xampp-vm-cakephp-7.png
Original/dashboard/images/blog/xampp-vm-cakephp-6.png
Original/dashboard/images/blog/xampp-vm-cakephp-5.png
Original/dashboard/images/blog/xampp-vm-cakephp-4.png
Original/dashboard/images/blog/xampp-vm-cakephp-3.png
Original/dashboard/images/blog/xampp-vm-cakephp-2.png
Original/dashboard/images/blog/xampp-vm-cakephp-11.png
Original/dashboard/images/blog/xampp-vm-cakephp-10.png
Original/dashboard/images/blog/xampp-vm-cakephp-1.png
Original/dashboard/images/blog/phpinfo-section-2.png
Original/dashboard/images/blog/phpinfo-section-1.png
Original/dashboard/images/blog/heartbleed-fixed.png
Original/dashboard/images/blog/heartbleed-affected.png
Original/dashboard/images/blog/heartbleed-affected-osx.png
Original/dashboard/images/blog/download-xampp-vm.png
Original/dashboard/images/bitnami-xampp/image7.png
Original/dashboard/images/bitnami-xampp/image6.png
Original/dashboard/images/bitnami-xampp/image5.png
Original/dashboard/images/bitnami-xampp/image4.png
Original/dashboard/images/bitnami-xampp/image3.png
Original/dashboard/images/bitnami-xampp/image2.png
Original/dashboard/images/bitnami-xampp/image1.png
Original/dashboard/images/bitnami-xampp.png
Original/dashboard/images/background.png
Original/dashboard/images/apple-logo.png
Original/dashboard/images/addons/wpmu-icon.png
Original/dashboard/images/addons/woothemes-icon.png
Original/dashboard/images/addons/themeforest-icon.png
Original/dashboard/images/addons/templatemonster-icon.png
Original/dashboard/images/addons/sugaroutfitters-icon.png
Original/dashboard/images/addons/rockettheme-icon.png
Original/dashboard/images/addons/elegantthemes-icon.png
Original/dashboard/images/addons/beetailer-icon.png
Original/dashboard/images/addons-video-thumb.png
Original/dashboard/hu/index.html
Original/dashboard/hu/howto_shared_links.html
Original/dashboard/hu/howto_platform_links.html
Original/dashboard/hu/howto.html
Original/dashboard/hu/faq.html
Original/dashboard/howto_shared_links.html
Original/dashboard/howto_platform_links.html
Original/dashboard/howto.html
Original/dashboard/fr/index.html
Original/dashboard/fr/howto_shared_links.html
Original/dashboard/fr/howto_platform_links.html
Original/dashboard/fr/howto.html
Original/dashboard/fr/faq.html
Original/dashboard/favicon.ico
Original/dashboard/faq.html
Original/dashboard/es/index.html
Original/dashboard/es/howto_shared_links.html
Original/dashboard/es/howto_platform_links.html
Original/dashboard/es/howto.html
Original/dashboard/es/faq.html
Original/dashboard/docs/use-sqlite.pdfmarks
Original/dashboard/docs/use-sqlite.pdf
Original/dashboard/docs/use-sqlite.html
Original/dashboard/docs/use-php-fcgi.pdfmarks
Original/dashboard/docs/use-php-fcgi.pdf
Original/dashboard/docs/use-php-fcgi.html
Original/dashboard/docs/use-different-php-version.pdfmarks
Original/dashboard/docs/use-different-php-version.pdf
Original/dashboard/docs/use-different-php-version.html
Original/dashboard/docs/troubleshoot-apache.pdfmarks
Original/dashboard/docs/troubleshoot-apache.pdf
Original/dashboard/docs/troubleshoot-apache.html
Original/dashboard/docs/transfer-files-ftp.pdfmarks
Original/dashboard/docs/transfer-files-ftp.pdf
Original/dashboard/docs/transfer-files-ftp.html
Original/dashboard/docs/send-mail.pdfmarks
Original/dashboard/docs/send-mail.pdf
Original/dashboard/docs/send-mail.html
Original/dashboard/docs/reset-mysql-password.pdfmarks
Original/dashboard/docs/reset-mysql-password.pdf
Original/dashboard/docs/reset-mysql-password.html
Original/dashboard/docs/install-wordpress.pdfmarks
Original/dashboard/docs/install-wordpress.pdf
Original/dashboard/docs/install-wordpress.html
Original/dashboard/docs/increase-php-file-upload-limit.pdfmarks
Original/dashboard/docs/increase-php-file-upload-limit.pdf
Original/dashboard/docs/increase-php-file-upload-limit.html
Original/dashboard/docs/images/use-sqlite/image3.png
Original/dashboard/docs/images/use-sqlite/image2.png
Original/dashboard/docs/images/use-sqlite/image1.png
Original/dashboard/docs/images/use-php-fcgi/image1.png
Original/dashboard/docs/images/use-different-php-version/image1.png
Original/dashboard/docs/images/troubleshoot-apache/image8.png
Original/dashboard/docs/images/troubleshoot-apache/image7.png
Original/dashboard/docs/images/troubleshoot-apache/image6.png
Original/dashboard/docs/images/troubleshoot-apache/image5.png
Original/dashboard/docs/images/troubleshoot-apache/image4.png
Original/dashboard/docs/images/troubleshoot-apache/image3.png
Original/dashboard/docs/images/troubleshoot-apache/image2.png
Original/dashboard/docs/images/troubleshoot-apache/image1.png
Original/dashboard/docs/images/transfer-files-ftp/image9.png
Original/dashboard/docs/images/transfer-files-ftp/image8.png
Original/dashboard/docs/images/transfer-files-ftp/image7.png
Original/dashboard/docs/images/transfer-files-ftp/image6.png
Original/dashboard/docs/images/transfer-files-ftp/image5.png
Original/dashboard/docs/images/transfer-files-ftp/image4.png
Original/dashboard/docs/images/transfer-files-ftp/image3.png
Original/dashboard/docs/images/transfer-files-ftp/image2.png
Original/dashboard/docs/images/transfer-files-ftp/image11.png
Original/dashboard/docs/images/transfer-files-ftp/image10.png
Original/dashboard/docs/images/transfer-files-ftp/image1.png
Original/dashboard/docs/images/send-mail/image3.png
Original/dashboard/docs/images/send-mail/image2.png
Original/dashboard/docs/images/send-mail/image1.png
Original/dashboard/docs/images/reset-mysql-password/image3.png
Original/dashboard/docs/images/reset-mysql-password/image2.png
Original/dashboard/docs/images/reset-mysql-password/image1.png
Original/dashboard/docs/images/install-wordpress/image38.png
Original/dashboard/docs/images/install-wordpress/image37.png
Original/dashboard/docs/images/install-wordpress/image36.png
Original/dashboard/docs/images/install-wordpress/image35.png
Original/dashboard/docs/images/install-wordpress/image34.png
Original/dashboard/docs/images/install-wordpress/image33.png
Original/dashboard/docs/images/install-wordpress/image32.png
Original/dashboard/docs/images/install-wordpress/image31.png
Original/dashboard/docs/images/install-wordpress/image24.png
Original/dashboard/docs/images/install-wordpress/image23.png
Original/dashboard/docs/images/install-wordpress/image22.png
Original/dashboard/docs/images/install-wordpress/image21.png
Original/dashboard/docs/images/install-wordpress/image19.png
Original/dashboard/docs/images/install-wordpress/image18.png
Original/dashboard/docs/images/install-wordpress/image17.png
Original/dashboard/docs/images/install-wordpress/image16.png
Original/dashboard/docs/images/install-wordpress/image15.png
Original/dashboard/docs/images/install-wordpress/image14.png
Original/dashboard/docs/images/install-wordpress/image13.png
Original/dashboard/docs/images/install-wordpress/image12.png
Original/dashboard/docs/images/install-wordpress/image110.png
Original/dashboard/docs/images/install-wordpress/image11.png
Original/dashboard/docs/images/install-wordpress/image02.png
Original/dashboard/docs/images/install-wordpress/image01.png
Original/dashboard/docs/images/deploy-git-app/image6.png
Original/dashboard/docs/images/deploy-git-app/image5.png
Original/dashboard/docs/images/deploy-git-app/image4.png
Original/dashboard/docs/images/deploy-git-app/image3.png
Original/dashboard/docs/images/deploy-git-app/image2.png
Original/dashboard/docs/images/deploy-git-app/image1.png
Original/dashboard/docs/images/create-framework-project-zf2/image5.png
Original/dashboard/docs/images/create-framework-project-zf2/image4.png
Original/dashboard/docs/images/create-framework-project-zf2/image3.png
Original/dashboard/docs/images/create-framework-project-zf2/image2.png
Original/dashboard/docs/images/create-framework-project-zf2/image1.png
Original/dashboard/docs/images/create-framework-project-zf1/image2.png
Original/dashboard/docs/images/create-framework-project-zf1/image1.png
Original/dashboard/docs/images/configure-wildcard-subdomains/image4.png
Original/dashboard/docs/images/configure-wildcard-subdomains/image3.png
Original/dashboard/docs/images/configure-wildcard-subdomains/image2.png
Original/dashboard/docs/images/configure-wildcard-subdomains/image1.png
Original/dashboard/docs/images/configure-vhosts/image4.png
Original/dashboard/docs/images/configure-vhosts/image3.png
Original/dashboard/docs/images/configure-vhosts/image2.png
Original/dashboard/docs/images/configure-vhosts/image1.png
Original/dashboard/docs/images/configure-use-tomcat/image8.png
Original/dashboard/docs/images/configure-use-tomcat/image7.png
Original/dashboard/docs/images/configure-use-tomcat/image6.png
Original/dashboard/docs/images/configure-use-tomcat/image5.png
Original/dashboard/docs/images/configure-use-tomcat/image4.png
Original/dashboard/docs/images/configure-use-tomcat/image3.png
Original/dashboard/docs/images/configure-use-tomcat/image2.png
Original/dashboard/docs/images/configure-use-tomcat/image1.png
Original/dashboard/docs/images/backup-restore-mysql/image9.png
Original/dashboard/docs/images/backup-restore-mysql/image8.png
Original/dashboard/docs/images/backup-restore-mysql/image7.png
Original/dashboard/docs/images/backup-restore-mysql/image6.png
Original/dashboard/docs/images/backup-restore-mysql/image5.png
Original/dashboard/docs/images/backup-restore-mysql/image4.png
Original/dashboard/docs/images/backup-restore-mysql/image3.png
Original/dashboard/docs/images/backup-restore-mysql/image2.png
Original/dashboard/docs/images/backup-restore-mysql/image14.png
Original/dashboard/docs/images/backup-restore-mysql/image13.png
Original/dashboard/docs/images/backup-restore-mysql/image12.png
Original/dashboard/docs/images/backup-restore-mysql/image11.png
Original/dashboard/docs/images/backup-restore-mysql/image10.png
Original/dashboard/docs/images/backup-restore-mysql/image1.png
Original/dashboard/docs/images/auto-start-xampp/image1.png
Original/dashboard/docs/images/activate-use-xdebug/image3.png
Original/dashboard/docs/images/activate-use-xdebug/image2.png
Original/dashboard/docs/images/activate-use-xdebug/image1.png
Original/dashboard/docs/images/access-phpmyadmin-remotely/image1.png
Original/dashboard/docs/deploy-git-app.pdfmarks
Original/dashboard/docs/deploy-git-app.pdf
Original/dashboard/docs/deploy-git-app.html
Original/dashboard/docs/create-framework-project-zf2.pdfmarks
Original/dashboard/docs/create-framework-project-zf2.pdf
Original/dashboard/docs/create-framework-project-zf2.html
Original/dashboard/docs/create-framework-project-zf1.pdfmarks
Original/dashboard/docs/create-framework-project-zf1.pdf
Original/dashboard/docs/create-framework-project-zf1.html
Original/dashboard/docs/configure-wildcard-subdomains.pdfmarks
Original/dashboard/docs/configure-wildcard-subdomains.pdf
Original/dashboard/docs/configure-wildcard-subdomains.html
Original/dashboard/docs/configure-vhosts.pdfmarks
Original/dashboard/docs/configure-vhosts.pdf
Original/dashboard/docs/configure-vhosts.html
Original/dashboard/docs/configure-use-tomcat.pdfmarks
Original/dashboard/docs/configure-use-tomcat.pdf
Original/dashboard/docs/configure-use-tomcat.html
Original/dashboard/docs/change-mysql-temp-dir.pdfmarks
Original/dashboard/docs/change-mysql-temp-dir.pdf
Original/dashboard/docs/change-mysql-temp-dir.html
Original/dashboard/docs/backup-restore-mysql.pdfmarks
Original/dashboard/docs/backup-restore-mysql.pdf
Original/dashboard/docs/backup-restore-mysql.html
Original/dashboard/docs/auto-start-xampp.pdfmarks
Original/dashboard/docs/auto-start-xampp.pdf
Original/dashboard/docs/auto-start-xampp.html
Original/dashboard/docs/activate-use-xdebug.pdfmarks
Original/dashboard/docs/activate-use-xdebug.pdf
Original/dashboard/docs/activate-use-xdebug.html
Original/dashboard/docs/access-phpmyadmin-remotely.pdfmarks
Original/dashboard/docs/access-phpmyadmin-remotely.pdf
Original/dashboard/docs/access-phpmyadmin-remotely.html
Original/dashboard/de/index.html
Original/dashboard/de/howto_shared_links.html
Original/dashboard/de/howto_platform_links.html
Original/dashboard/de/howto.html
Original/dashboard/de/faq.html
Original/dashboard/404.html
Original/bitnami.css
Original/applications.html
