body{
    background-color: #736770;
    max-width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
}

.chapter{
    font-size: large;
    border-style: solid;
    border-width: 4px;
    border-color: #461326;
    background-color: #dddddd;
    padding: 1rem;
    cursor: pointer;
}

.chapter:hover{
    background-color: #b45e7b;
}

.menu{
    padding-left: 2rem;
    overflow: auto;
}

.content{
    font-size: medium;
    background-color: #2c2a42;
    border-style: solid;
    border-width: 4px;
    border-color: #461326;
    overflow: auto;
    scrollbar-width: none;
    font-size: medium;
    overflow: auto;
    max-height: calc(100vh - 15rem);
    color:white;
}

.chapterClicked{
    background-color: #8c3c57;
    border-color: #461326;
    color: white;
}

.noScrollBar{
    max-width: 100%;
    overflow-x: hidden;
}

.label{
    margin: 0.2rem;
    margin-left: 1rem;;
}

.preview{
    height: 45rem;
    width: 100%;
}
