
body{
    max-width: 100%;
    overflow-x: hidden;
    background-color: #736770;
}

.contentBoxDark{
    /*background-color: #8c3c57;*/
    margin: 2rem;
    padding: 1rem;
    transition: all .2s ease-in-out;
    display: flex;
    height: 20rem;
    text-align: center;
}

.contentBoxDark:hover{
    transform: scale(1.1); 
}
  
.contentBoxDark:hover .overlay {
    opacity: 0.6;
}

.contentBoxDark:hover .text {
    opacity: 1;
}

.contentBoxLight{
    /*background-color: #c6a2ae;*/
    margin: 2rem;
    padding: 1rem;
    transition: all .2s ease-in-out;
    display: flex;
    height: 20rem;
    text-align: center;
}

.contentBoxLight:hover{
    transform: scale(1.1); 
}

.contentBoxLight:hover .overlay {
    opacity: 0.6;
}

.contentBoxLight:hover .text {
    opacity: 1;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: 0.2s ease;
    background-color: #331a30;
}

.text {
    color: white;
    font-size: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    opacity: 0;
}

.clickable{
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    position: absolute;
    display: inline-block;
}

.tileImg{
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin: auto;
}
