body{
    background-color: #736770;
    max-width: 100%;
    overflow-x: hidden;
}

.chapter{
    font-size: large;
    border-style: solid;
    border-width: 4px;
    border-color: #461326;
    background-color: #dddddd;
    padding: 1rem;
}

.searchField{
    width: 100%;
}

.searchField:focus {
    outline: none !important;
    border:2px solid #8c3c57;
    box-shadow: 0 0 10px #8c3c57;
}

.menu{
    padding-left: 2rem;
    overflow: auto;
}

.content{
    font-size: medium;
    padding: 2rem;
    background-color: #c6a2ae;
    border-style: solid;
    border-width: 4px;
    border-color: #461326;
    overflow: auto;
}

.chapterLeft{
    margin-right: 1rem;
    border-style: solid;
    border-width: 2px;
    border-color: #8c3c57;
    background-color: #dddddd;
    font-size: small;
    padding: 0.2rem;
}

.chapterRight{
    margin-left: 1rem;
    border-style: solid;
    border-width: 2px;
    border-color: #c6a2ae;
    background-color: #aeadae;
    font-size: small;
    padding: 0.2rem;
}

.chapterClicked{
    background-color: #8c3c57;
    border-color: #461326;
    color: white;
}

.sub{
    margin-left: 2rem;
}

.subsub{
    margin-left: 4rem;
}

.noScrollBar{
    max-width: 100%;
    overflow-x: hidden;
}

.label{
    margin: 0.2rem;
    margin-left: 1rem;;
}

.content{
    font-size: medium;
    padding-left: 2rem;
    overflow: auto;
    max-height: calc(100vh - 12rem);
}