body{
    background-color: #736770;
}

.container{
    display: flex;
    flex-basis: 0;
    height: 100%;
}

.categoryBox{
    font-size: xx-large;
    border-style: solid;
    border-width: 4px;
    border-color: #461326;
    background-color: #dddddd;
    padding: 1rem;
}

.search{
    background-color: #8c3c57;
    padding: 1rem;
}

.left{
    font-size: large;
    flex-basis: 20%;
    position: fixed;
}

.right{
    flex-basis: 60%;
    margin-left: 25%;
}

.talentBox1{
    font-size: large;
    display: flex;
    vertical-align: top;
    margin-right: 5rem;
    padding: 1rem;
    border-style: solid;
    border-width: 4px;
    border-color: #8c3c57;
    background-color: #dddddd;
}

.talentBox2{
    font-size: large;
    display: flex;
    vertical-align: top;
    margin-left: 5rem;
    padding: 1rem;
    border-style: solid;
    border-width: 4px;
    border-color: #c6a2ae;
    background-color: #aeadae;
}

.filterBox1{
    margin-right: 1rem;
    border-style: solid;
    border-width: 2px;
    border-color: #8c3c57;
    background-color: #dddddd;
}

.filterBox2{
    margin-left: 1rem;
    border-style: solid;
    border-width: 2px;
    border-color: #c6a2ae;
    background-color: #aeadae;
}

.filterChecked{
    background-color: #8c3c57;
}