body{
    background-color: #736770;
    max-width: 100%;
    overflow-x: hidden;
}

.category{
    font-size: large;
    border-style: solid;
    border-width: 4px;
    border-color: #461326;
    background-color: #dddddd;
    padding: 1rem;
}

.searchField{
    width: 100%;
}

.searchField:focus {
    outline: none !important;
    border:2px solid #8c3c57;
    box-shadow: 0 0 10px #8c3c57;
}

.left{
    padding-left: 2rem;
    overflow: auto;
}

.right{
    font-size: medium;
    padding-left: 2rem;
    overflow: auto;
    max-height: calc(100vh - 14.5rem);
}

.talentBox1{
    font-size: large;
    display: flex;
    margin-right: 5rem;
    padding: 1rem;
    border-style: solid;
    border-width: 4px;
    border-color: #8c3c57;
    background-color: #dddddd;
}

.talentBox2{
    font-size: large;
    display: flex;
    margin-left: 5rem;
    padding: 1rem;
    border-style: solid;
    border-width: 4px;
    border-color: #c6a2ae;
    background-color: #aeadae;
}

.filterBox1{
    margin-right: 1rem;
    border-style: solid;
    border-width: 2px;
    border-color: #8c3c57;
    background-color: #dddddd;
    font-size: small;
    cursor: pointer;
}

.filterBox1Clicked{
    margin-right: 1rem;
    border-style: solid;
    border-width: 2px;
    border-color: #461326;
    background-color: #8c3c57;
    font-size: small;
    cursor: pointer;
    color: white;
}

.filterBox2{
    margin-left: 1rem;
    border-style: solid;
    border-width: 2px;
    border-color: #c6a2ae;
    background-color: #aeadae;
    font-size: small;
    cursor: pointer;
}

.filterBox2Clicked{
    margin-left: 1rem;
    border-style: solid;
    border-width: 2px;
    border-color: #461326;
    background-color: #8c3c57;
    font-size: small;
    cursor: pointer;
    color: white;
}

.label{
    margin: 0.2rem;
    margin-left: 1rem;
}

.noScrollBar{
    max-width: 100%;
    overflow-x: hidden;
}

