body{
    background-color: olive;
}

.container {
    display: flex;
    flex-basis: 0;
    height: 100%;
  }

.left{
    flex-basis: 20%;
}

.right{
    flex-basis: 60%;
    overflow: auto;
}

.talentBox{
    display: inline-block;
    vertical-align: top;
    width: 43%;
    margin: 1rem;
    padding: 1rem;
    border-style: solid;
    border-width: 2px;
    border-radius: 10px;
    background-color: bisque;
}