
body{
    text-align: center;
    background-image: url('./background_red.png');
    color: white;
    overflow-x: hidden;
}

.center{
    text-align: center;
}

.useArea{
    margin-top: 5%;
    margin-bottom: 5%;
}

.divider{
    border-left: 2px solid black;
    height: 100%;
    position: absolute;
    left: 50%;
    margin-left: -3px;
    top: 0;
}

.textInput{
    width: 100%;
    height: 70%;
    resize: none;
    background-color: #dddddd;
}

.listArea{
    border: 2px solid black;
    height: 5rem;
    overflow-wrap: anywhere;
    overflow: auto;
    background-color: #dddddd;
    color: black;
}

.optimizeButtonArea{
    margin: 3rem;
}

.Wbutton{
    margin-right: 2rem;
}

.Nbutton{
    margin-bottom: 1rem;
    vertical-align: top;
}

.Sbutton{
    margin-top: 1rem;
    vertical-align: bottom;
}

.Obutton{
    margin-left: 2rem;
}

.directionButton{
    background-color: #dddddd; /* Green */
    border: none;
    width: 3rem;
    height: 3rem;
}

.solveButton{
    background-color: #736770; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}