
.headerNoBackground{
    position: fixed;
    width: 90%;
}

.mapBanner{
    left: 5%;
}

.controls{
    position: fixed;
    top: 20%;
}

.buttonLeft_notactive{
    margin-right: 1rem;
    margin-left: 5rem;
    border-style: solid;
    border-width: 2px;
    border-color: #8c3c57;
    background-color: #dddddd;
    font-size: small;
    cursor: pointer;
    width: 15rem;
    padding: 0.5rem;
}

.buttonRight_notactive{
    margin-left: 6rem;
    border-style: solid;
    border-width: 2px;
    border-color: #c6a2ae;
    background-color: #aeadae;
    font-size: small;
    cursor: pointer;
    width: 15rem;
    padding: 0.5rem;
}

.button_active{
    margin-right: 1rem;
    border-style: solid;
    border-width: 2px;
    border-color: #461326;
    background-color: #8c3c57;
    font-size: small;
    cursor: pointer;
}